Language: Cpp # this includes C

UseTab: AlignWithSpaces
# Internally, clang-format uses spaces, but I use tabs. We therefore specify
# the following two entries:
IndentWidth: 4
TabWidth: 4

IndentCaseLabels: true

BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: false
  AfterControlStatement: Never
  AfterFunction: true
  AfterStruct: false
  BeforeCatch: true
  BeforeElse: true
  BeforeWhile: false

AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never

SpaceAfterCStyleCast: true
SpaceAfterLogicalNot: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements

AlignConsecutiveMacros:
  Enabled: true

AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 0

# I would like to enfore an empty line after a block of includes, but I don’t
# know how to get this.
SeparateDefinitionBlocks: Always
