[user]
	name = Jendrik Stelzner
	email = jendrikstelzner@web.de
	signingkey = 570B6F10700F5664
[init]
	defaultBranch = master
[credential]
	helper = cache --timeout=900
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	ff = only
	rebase = false
[commit]
	gpgsign = true
[log]
	showSignature = true
[url "ssh://git@"]
	pushInsteadOf = https://
[advice]
	addIgnoreFile = false
