* {
	/* `otf-font-awesome` is required to be installed for icons */
	font-family: Noto Sans;
	font-size: 12pt;
}

window#waybar {
	background-color: rgba(43, 48, 59, 0.5);
	border-bottom: 1px solid rgba(100, 114, 125, 0.5);
	color: white;
	transition-property: background-color;
	transition-duration: .5s;
}

.modules {
	margin-top: -5px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
	margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
	margin-right: 0;
}

label.module {
}

box.module {
	background-color: transparent;
}
window#waybar.hidden {
	opacity: 0.2;
}

button {
	/* Use box-shadow instead of border so the text isn't offset */
	box-shadow: inset 0 -3px transparent;
	/* Avoid rounded borders under each button name */
	border: none;
	border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
	background: inherit;
	box-shadow: inset 0 -3px #ffffff;
}

tooltip label {
	font-family: JuliaMono;
	font-size: 11pt;
}

#workspaces button {
	padding: 0 5px;
	background-color: transparent;
	color: white;
}

#workspaces button:hover {
	background: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
	background-color: #64727D;
	box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
	background-color: #eb4d4b;
}

#mode {
	background-color: #64727D;
	box-shadow: inset 0 -3px #ffffff;
}

#clock,
#cpu,
#memory,
#disk,
#temperature,
#network,
#wireplumber,
#custom-media,
#tray,
#mode,
#scratchpad,

#window,
#workspaces

#clock {
	background-color: transparent;
}

#wireplumber.muted {
	color: gray;
	text-decoration-line: line-through;
	text-decoration-color: dimgray;
}
