##### MATRICES

snippet matrix "matrix environment" b
\begin{matrix}
	$0
\end{matrix}
endsnippet

snippet pmatrix "pmatrix environment" b
\begin{pmatrix}
	$0
\end{pmatrix}
endsnippet

snippet bmatrix "bmatrix environment" b
\begin{bmatrix}
	$0
\end{bmatrix}
endsnippet
