##### MATRICES

snippet "pmat|pmatrix" "pmatrix environment" rb
\begin{pmatrix}
	$0
\end{pmatrix}
endsnippet

snippet "bmat|bmatrix" "bmatrix environment" rb
\begin{bmatrix}
	$0
\end{bmatrix}
endsnippet
