##### MATH SHORTCUTS

snippet set "\{ \}"
\\{ ${1:elements} \\suchthat ${2:conditions} \\}$0
endsnippet

snippet bigset "\{ \}" b
\\{
	$1
\\suchthat
	$0
\\}
endsnippet

snippet multiset "multiline set descriptions" b
\\left\\{
  $0
  \\suchthat*
  \\begin{tabular}{@{}c@{}}
		
    \\\\
		
  \end{tabular}
\\right\\\}
endsnippet

snippet func "function in display math"
\\[
	$1
	\\colon
	$2
	\\to
	$3 \\,,
	\\quad
	$4
	\\mapsto
	$5
\\]
$0
endsnippet
